node_modules/
.idea/
public/*.bundle.js
public/*.bundle.js.map
public/mapbox-gl-rtl-text.js
*.iml
npm-debug.log
yarn-error.log
build/
.output.log
.vscode

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
