@import "../../node_modules/@elastic/eui/dist/eui_theme_k6_light.css";
@import "../../node_modules/mapbox-gl/dist/mapbox-gl.css";

body {
    margin: 0 auto;
}

#wrapper {
    width: 100%;
}

.mainContent {
    width: 100%;
}

.mapContainer {
    width: 100%;
    height: 512px;
}

.banner {
    width: 100%;
    height: 100px;
}

.dl {
    width: 200px;
}