@import "../node_modules/@elastic/eui/dist/eui_theme_light.css";
@import "../node_modules/mapbox-gl/dist/mapbox-gl.css";

body {
    margin: 0 auto;
}

#wrapper {
    width: 100%;
}


.mainContent {
    width: 100%;
}

.mapContainer {
    width: 100%;
    height: 512px;
}

.attribution  p {
    display: inline;
}


/* The following will need to be fixed in EUI too */
.euiHeader {
    position: relative;
    z-index: 2000;
}

.euiHeaderLinks {
    position: static;
}

.euiHeaderSectionItem:hover {
    background: transparent;
}

.mapboxgl-popup-close-button {
    padding-left: 7px;
    padding-right: 7px;
}

.euiSideNavItem__items {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 1020px;
}
